.componentLabel
{
	background-color: #edc677;
	font-weight:bolder;
}

.table_label
{
	display:table-cell;
	/*text-align:right;*/
	white-space: nowrap;
	min-width:200px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;  
}

.table_row_group
{
	display:table-row-group;
}

.table_input
{
	display:table-cell;
	/*margin-left:10px;*/
	width:100%;
}
input.table_input
{
	width:100%;
}
.table_row
{
	display:table-row;
}
.presetName
{
	word-break: break-all;
}






#plotSlider
{
	/*margin:40px 0px 20px 10px;*/
}