
#TaskBlock
{

	margin:5px;
}



.table_label
{
display:table-cell;
text-align:right;
white-space: nowrap;
}

.table_row_group
{

	display:table-row-group;


}

#startButton
{
	/*margin:auto;*/
	margin:5px;
	display:block;

}


#PresetList
{
	overflow-y:auto;
	white-space: nowrap;
	margin:5px -5px 0px -5px;
	display:flex;
	flex-direction: row;

}

.Preset
{
	/*display:inline-block;*/
	border:2px solid black;
	border-radius:5px;
	padding:5px;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	margin:0px 5px 0px 5px;
}

#Presets
{
	margin:5px;

}

.table_input
{
	display:table-cell;
	/*margin-left:10px;*/
	/*width:100%;*/
}
input.table_input
{
	width:100%;
}
.table_row
{
	display:table-row;
}
.methodBlockBody
{
	display:none;
	position:absolute;
	right:0;


}
.methodBlock
{
	margin:5px;
	position:relative;

}
.methodBlock:hover >.methodBlockBody
{
display:block;
z-index:2;
background-color:white;
border:1px solid black;
}

.hideableBlock
{
	display:flex;
	flex-direction:column;
	margin:10px;
}
.hideableBody
{
	overflow-x:auto;
	background-color: white;
	border-style: none solid solid solid;
	border-width: 1px;
	border-color: black;
	height:auto;
	padding:5px;
	border-radius:0px 0px 5px 5px;
	/*transform:scaleY(0);
	transform-origin:top;
	transition: transform 0.26s ease-out;*/
}
.hideableCheckBox:checked~ .hideableBody
{
	/*transform:scaleY(1);*/
	display:none;
}

#methodsBlock
{
	overflow-y:visible;
	/*overflow-x:auto;*/
}

.hideableCheckBoxLabel
{
	display:block;
	width:100%;
}
.hideableCheckBox
{
	display:none;
}
.hideableHeader
{
	display:block;
	background-color: white;
	border-color: #171918;
	border-width: 1px;
	border-style: solid;
	position:relative;
	user-select:none;
	padding:5px;
	border-radius:5px 5px 0px 0px;
	font-family:sans-serif;
	font-size:large;
}
.hideableHeader:hover
{
	background-color:#a09b9c;
}
.hideableCheckBox:checked~ .hideableCheckboxLabel .hideableHeader
{
	border-radius:5px 5px 5px 5px;
}

.tab
{
	display:flex;
	flex-direction:row;


}



.tabContent
{
	display:none;
	/*background-color:red;*/
}
.activeTabContent
{
	display:block;
}
.activeTabLink
{}