body {
	color: #272727;
	font-family: 'Source Sans Pro', sans-serif;
	/*background-color: #ececec;*/
}

h1 {
	text-align: left;
	font-size : 80px;
	padding-left: 4%;
	font-family: 'Encode Sans Expanded', sans-serif;
}

h1 small {
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}

form {
	position: absolute;
	margin-top: 5%; 
	/*width: 50%;*/
	margin-left: 50%;
}

a {
	display: inline;
	color: black;
	text-decoration: none;
	
	padding: 3px 16px 3px 16px;
  	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
}

input {
	display: inline-block;
	width: 50%;
	line-height: 20px;
	margin: 5px;
}

label {
	display: inline-block;
	width: 25%;
}

.orange {
	color: #FF852C;
}

.canvas {
	margin-left: 5%;
	margin-right: 5%;
}

.sideFormula {
	padding: 10px;
	display: inline-grid;
	width: 45%;
}