.math {

	font-size: 30px;
	font-style: italic;
	line-height: 10px;
	font-family: 'Indie Flower', cursive;
    text-align: right;
	/*background-color: #f5f5f5;*/
}

.ms {
	font-family: 'Indie Flower', cursive;	
    font-size: 30px;
}

.frac { display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
	line-height: 30px;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 